$mColor: #000;
$sColor: #666;
$ssColor: #999;
$sBorder: #ccc;
$vireColor: #f36;
$maxWidth: 1180px;
$helvetica: 'Roboto',
sans-serif;
$futura: 'Open Sans',
sans-serif;
$times: 'Crimson Text',
serif;
h1 {
    font-size: 1.875em;
}

h1 a {
    font-family: $futura;
    text-decoration: none;
    color: $mColor;
}

img {
    width: 100%;
}
input {
	outline: none;
}
button {
	cursor: pointer;
}

.clear:after,
.clear:before {
    display: table;
    content: '';
}

.clear:after {
    clear: both;
}
