@import '_settings';
body {
    font-size: 16px;
}

.wrapper {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
}

.row {
    display: block;
}

.row {
    .logo {
        display: inline-block;
        h1 {
            margin: 30px 0;
        }
        h1 a {
            padding: 30px 0;
        }
    }
    .customer {
        float: right;
        margin-top: 30px;
    }
}

.row {
    .sign,
    .bag {
        font-size: .75em;
        display: inline-block;
    }
    .bag {
        float: right;
        margin-top: 1px;
        a {
            font-family: $helvetica;
            text-decoration: none;
            color: $mColor;
            & i {
                padding-right: 15px;
            }
        }
    }
    .sign {
        line-height: 1em;
        margin-right: 50px;
        color: $mColor;
        input {
            font-family: $helvetica;
            font-family: $helvetica;
            text-align: right;
            border: none;
            ::-webkit-input-placeholder {
                font-family: $helvetica;
                color: $mColor;
            }
            ::-moz-placeholder {
                font-family: $helvetica;
                color: $mColor;
            }
            ::-ms-input-placeholder {
                font-family: $helvetica;
                color: $mColor;
            }
            ::-webkit-input-placeholder {
                font-family: $helvetica;
                color: $mColor;
            }
            ::-moz-placeholder {
                font-family: $helvetica;
                color: $mColor;
            }
            :-ms-input-placeholder {
                font-family: $helvetica;
                color: $mColor;
            }
            ::placeholder {
                font-family: $helvetica;
                color: $mColor;
            }
            [placeholder] {
                color: $mColor;
            }
        }
        button {
            font-family: $helvetica;
            padding: 0;
            border: none;
            background: transparent;
        }
    }
    nav {
        display: inline-block;
        overflow: hidden;
        width: 77.5%;
        margin-bottom: 25px;
        :after {
            display: table;
            content: '';
            /* clear: both;*/
        }
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            font-size: .875em;
            float: left;
            margin-right: 4%;
            list-style-type: none;
            text-align: center;
            a {
                font-family: $futura;
                font-weight: 700;
                overflow: visible;
                width: 0;
                text-decoration: none;
                color: $mColor;
            }
        }
    }
    .search {
        position: relative;
        float: right;
        width: 10%;
        input {
            font-size: .75em;
            width: 100%;
            padding-bottom: 10px;
            color: $sBorder;
            border: none;
            border-bottom: 2px solid $sBorder;
            outline: none;
        }
        i {
            position: absolute;
            z-index: 1;
            right: 0;
            color: $sBorder;
        }
    }
}

.banner__wrapper {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background: -webkit-linear-gradient(left, #fff, #fff 50%, #f7f7f7 50%);
    background: linear-gradient(to right, #fff, #fff 50%, #f7f7f7 50%);
}

.banner {
    position: relative;
    max-width: 1180px;
    height: 385px;
    margin: 0 auto;
    div.banner__image {
        position: relative;
        float: left;
        overflow: hidden;
        box-sizing: border-box;
        width: 50%;
        height: inherit;
        text-align: center;
        border-right: 1px solid #e5e5e5;
        background-image: url('../img/rednike.png');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: center;
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }
        div.banner__text {
            position: absolute;
            top: 65px;
            right: 105px;
            display: inline-block;
            background-image: none;
            h3 {
                font-family: $futura;
                font-size: 1.875em;
                margin: 0;
                margin-bottom: 15px;
                color: $mColor;
            }
            span {
                font-family: $times;
                font-style: italic;
                color: $sColor;
            }
        }
    }
    div.banner__image:nth-child(2) {
        border-right: none;
        background-color: #f7f7f7;
        background-image: url('../img/grayhat.png');
        background-position: 0 5%;
    }
}

main {
    header {
        h2 {
            font-family: $futura;
            font-size: 4em;
            margin-top: 135px;
            margin-bottom: 100px;
            text-align: center;
        }
    }
    .purpose {
        width: 100%;
        margin-bottom: 100px;
        a {
            font-size: .875em;
            display: inline-block;
            float: left;
            box-sizing: border-box;
            width: 21.25%;
            margin-right: 5%;
            text-align: center;
            text-decoration: none;
            color: $mColor;
        }
        figure {
            margin: 0;
            img {
                width: 100%;
                margin-bottom: 50px;
            }
            figcaption {
                width: 80%;
                margin: 0 auto;
            }
            h3 {
                font-family: $helvetica;
                margin-bottom: 23px;
            }
        }
        a:last-child {
            margin-right: 0;
        }
    }
    .more {
        margin-bottom: 105px;
        text-align: center;
        a {
            font-family: $futura;
            font-size: 1.625em;
            font-weight: 700;
            padding: 25px 105px;
            text-decoration: none;
            color: $mColor;
            border: 1px solid $sBorder;
        }
    }
}

footer {
    section {
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
        padding: 33px 0;
        div {
            float: left;
            box-sizing: border-box;
            width: 33.33%;
            .nav__footer {
                position: relative;
                top: -6px;
                li {
                    float: right;
                    margin-right: 40px;
                    margin-bottom: 0;
                    text-align: right;
                    a {
                        font-family: $helvetica;
                        font-size: .75em;
                        font-weight: 700;
                    }
                    :last-child {
                        margin-right: 0;
                    }
                }
            }
            .share {
                font-family: $futura;
                font-size: 1.125em;
                position: relative;
                top: -6px;
                margin: 0;
                text-align: center;
                span {
                    font-weight: 400;
                    position: relative;
                    z-index: 2;
                    margin-left: 12px;
                    padding: 5px;
                    background: #f4f4f4;
                    i {
                        position: absolute;
                        z-index: -1;
                        top: 8px;
                        left: -7px;
                        color: #f4f4f4;
                    }
                }
            }
        }
        .copy {
            font-family: $helvetica;
            font-size: .75em;
            font-weight: 700;
            margin: 0 auto;
            p {
                margin: 0;
            }
            a {
                text-decoration: none;
                color: $mColor;
                :hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .site_map__wrapper {
        border-top: 1px solid $sBorder;
        border-bottom: 1px solid $sBorder;
    }
    .site_map {
        width: 100%;
        max-width: 1180px;
        margin: 0 auto;
        padding-top: 0;
        padding-bottom: 0;
        &__item {
            display: inline-block;
            float: left;
            box-sizing: border-box;
            width: 50%;
            padding-bottom: 100px;
            border-right: 1px solid $sBorder;
            &:last-child {
                border-right: none;
            }
            div {
                float: left;
                width: 45%;
            }
            i {
                margin-right: 10px;
                color: $sBorder;
            }
        }
        .soc_net {
            li {
                float: left;
                margin-right: 25px;
                a {
                    font-size: 1.2em;
                }
            }
            li:first-child i {
                color: #369;
            }
            li:last-child i {
                color: #3cf;
            }
        }
        &__item:nth-child(1) {
            div:nth-child(2) {
                width: 55%;
            }
        }
        &__item:nth-child(2) {
            font-family: $helvetica;
            h4 {
                margin-bottom: 25px;
            }
            div:nth-child(1) {
                box-sizing: border-box;
                width: 55%;
                padding-left: 60px;
            }
            a {
                text-decoration: none;
                color: $mColor;
            }
        }
    }
    .description {
        font-family: $times;
        font-style: italic;
        line-height: 2em;
        margin-top: 80px;
        margin-bottom: 45px;
        color: $sColor;
    }
    h4 {
        font-family: $futura;
        font-size: 1.125em;
        margin-top: 55px;
        margin-bottom: 50px;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        margin-bottom: 30px;
        list-style-type: none;
        a {
            font-family: $helvetica;
            font-size: .875em;
            text-decoration: none;
            color: $mColor;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

section.slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(to right, #fff, #f7f7f7);
    .slider__wrapper {
        width: 100%;
        overflow: hidden;
        max-width: 1180px;
        margin: 0 auto;
        &--nado {
            overflow: hidden;
            width: 10000px;
            height: 850px;
            position: relative;
        }
    }
    .item {
        position: relative;
        display: inline-block;
        float: left;
        width: 100%;
        max-width: 1300px;
        max-width: 1180px;
        height: 850px;
        margin: 0 auto;
        &:nth-child(1) {
            background-color: #f7f7f7;
            background-image: url('../img/man.png'), url('../img/girl.png');
            background-repeat: no-repeat;
            background-position: 20% 100%, 80% 100%;
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-decoration: none;
            }
            div {
                position: relative;
                width: 30%;
                margin: 8% auto;
                padding: 50px 0;
                text-align: center;
                background-color: #fff;
                h3 {
                    font-family: $futura;
                    font-size: 1em;
                    margin-bottom: 50px;
                    color: $mColor;
                }
                h2 {
                    font-family: $futura;
                    font-size: 6.875em;
                    margin: 0;
                    margin-bottom: 80px;
                    color: #f14a58;
                }
                p {
                    font-family: $helvetica;
                    font-size: 1em;
                    text-align: center;
                    color: $mColor;
                    span {
                        position: relative;
                        top: -3px;
                        display: inline-block;
                        width: 15%;
                        height: 3px;
                        margin-right: 15px;
                        margin-left: 15px;
                        background-color: #f14a58;
                    }
                }
            }
        }
        &:nth-child(3) {
            position: relative;
            background-color: #f5de75;
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                text-decoration: none;
            }
            h3 {
                font-family: $futura;
                font-size: 13.125em;
                position: absolute;
                position: relative;
                top: 20%;
                bottom: 35%;
                margin: 0;
                text-align: center;
                color: white;
            }
            p {
                font-family: $futura;
                font-size: 1.625em;
                font-weight: 700;
                position: absolute;
                bottom: 25%;
                width: 100%;
                text-align: center;
                color: $mColor;
                span {
                    font-family: $futura;
                    font-style: normal;
                    position: static;
                    color: #50c1e9;
                }
            }
            span {
                font-family: $times;
                font-size: 1em;
                font-style: italic;
                position: absolute;
                bottom: 25%;
                width: 100%;
                text-align: center;
                color: $mColor;
            }
            .reebok {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: url('../img/reebok.png');
                background-repeat: no-repeat;
                background-position: center 20%;
                background-size: auto;
            }
        }
        div.w {
            display: inline-block;
            float: left;
            box-sizing: border-box;
            width: 75%;
            .block {
                width: 33.33%;
                &--width {
                    width: 66.66%;
                }
                &--height {
                    height: 770px;
                }
            }
        }
        .block {
            position: relative;
            display: inline-block;
            float: left;
            box-sizing: border-box;
            width: 25%;
            height: 385px;
            margin: 0;
            padding: 0;
            background-color: white;
            background-repeat: no-repeat;
            background-position: center 25%;
            background-size: auto;
            .text {
                top: 70%;
                width: 100%;
                text-align: center;
            }
            &--width {
                background-color: #324063;
                background-image: url('../img/sweater.png');
                background-repeat: no-repeat;
                background-position: center 0;
                background-size: auto 110%;
                .text {
                    top: 10%;
                    right: 12%;
                    width: auto;
                    h3 {
                        color: white !important;
                    }
                    span {
                        color: white !important;
                    }
                }
            }
            &--height {
                height: 770px;
            }
            a {
                display: inline-block;
                width: 100%;
                height: inherit;
            }
            .text {
                position: absolute;
                text-align: center;
                h3 {
                    font-family: $futura;
                    font-size: 1.875em;
                    margin-top: 0;
                    margin-bottom: 17px;
                    color: $mColor;
                }
                span {
                    font-family: $times;
                    font-size: 1em;
                    font-style: italic;
                    color: $sColor;
                }
            }
            &:nth-child(2) {
                background-image: url('../img/clock.png');
            }
            &:nth-child(3) {
                background-image: url('../img/jeans.png');
                background-position: center -100px;
                a {
                    background-color: rgba(0, 0, 0, .05);
                }
                .text {
                    h3,
                    span {
                        color: white;
                    }
                }
            }
            &:nth-child(4) {
                background-image: url('../img/bag.png');
                .text {
                    h3 {
                        color: $vireColor;
                    }
                }
            }
            &:nth-child(5) {
                background-color: #f5de75;
                background-image: none;
                .text {
                    top: 35%;
                    h3 {
                        font-size: 1.375em;
                        span {
                            font-family: inherit;
                            font-style: inherit;
                            color: #50c1e9;
                        }
                    }
                }
            }
            &.block--height {
                background-image: url('../img/photos-girl.png');
                background-position: 85% 0;
                .text {
                    top: 7%;
                }
            }
        }
    }
}

.slider__navigation {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .1);
    ul {
        line-height: 80px;
        margin: 0;
        padding: 0;
        text-align: center;
        li {
            line-height: 80px;
            display: inline-block;
            width: 5px;
            height: 5px;
            margin: 0 1%;
            cursor: pointer;
            border-radius: 50%;
            background-color: #c8c8c8;
            &.active {
                background-color: #f14a58;
            }
        }
    }
}
